SESSION_SECRET = "my_secret"
NEXT_PUBLIC_API_URL = "https://co-working-backend-2geh.onrender.com/api/v1"
NEXT_PUBLIC_SOCKET_URL = "https://co-working-backend-2geh.onrender.com"
NEXT_PUBLIC_APP_URL = "http://localhost:3000"
NEXT_PUBLIC_GO_WS_URL = "https://visoconf-service-go.onrender.com"
NEXT_PUBLIC_GO_WS = "wss://visoconf-service-go.onrender.com"
